{% extends "catalog/base.html" %}

{% block content %}
  <h1>Title: {{ product.name }}</h1>

   <p><img src="{{ product.image}}"></p> 
  <p><strong>marque:</strong> <a href="">{{ product.marque }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Prix:</strong> {{ product.price_HT }}</p>
  <p><strong>Provider:</strong> {{ product.provider.email }}</p>  
  <p><a href="{% url 'product-update' product.id %}">Update Product</a></p>  
<p><a href="{% url 'product-delete' product.id %}">Delete Product</a></p>  
<p><a href="{% url 'product' %}"> Back to the Product List</a></p> 

<div style="margin-left:20px;margin-top:20px">
    
    <h4>MarketPlace</h4>
     <!-- <p><strong>MarketPlace :</strong> -->
     <!-- {% for m in products.markerplace.all %}-->
     <!--   {{ m.name }}-->
     <!--   {% empty %}-->
     <!--       No tags!-->
     <!-- {% endfor %}-->
     <!--</p>  -->
    
{% endblock %}